.app {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.enter {
    opacity: 0;
}

.enterDone {
    opacity: 1;
}

.enterActive {
    opacity: 1;
}

.exit{
    opacity: 1;
}

.exitActive {
    opacity: 0;
}
